---
import BaseHead from '@/components/base-head.astro';
import Header from '@/components/app/header.vue';
import Footer from '@/components/app/footer.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import helper from "@/lib/helper.js";

const posts= await helper.common();

import "@tune/styles/main.scss";

const title = Astro.props.title || SITE_TITLE;
const description = Astro.props.description || SITE_DESCRIPTION;
let jsonLd = Astro.props.jsonLd || null;
if(jsonLd) {
	jsonLd = JSON.stringify(jsonLd);
}

// don't do this anymore
let headerHidden = false;//Astro.url.pathname === '/';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} jsonLd={jsonLd} />
	</head>
	<body>
		<div class="bg"></div>
		<main >
			<Header client:load hidden={headerHidden} url={Astro.url} />
      <slot></slot>
      <Footer posts={posts} client:load />
		</main>
	</body>
</html>

<style lang="scss" is:global>
	@font-face {
  font-family: "Caveat";
  src: url("/fonts/caveat.woff2");
  font-weight: 400 700;
  font-style: normal;
  font-display: block;
}


	body {
		font-size:16px;
		background-color: var(--color-bg-1);
		overflow-x: hidden;
		

		> main {
			position:relative;
			z-index: 1;
		}

		.c-header {
			backdrop-filter: none;
		}

		.c-page {
		}

		.c-card {
			margin-bottom:1rem;
		}

		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: hsl(var(--hue-p), 6%, 18%);
			border-radius: 0;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: hsl(var(--hue-p), 6%, 18%);
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		starlight-tabs {

			> [role="tabpanel"] {
				margin-top:0!important;
			}

			.tablist-wrapper {
				overflow-y: hidden;

				ul {
					display: flex;
					list-style: none;
					border-bottom: 2px solid var(--sl-color-gray-5);
					padding: 0;
					margin-bottom:0;

					border-bottom:rgba(255,255,255,0.2) solid 2px;
				}

				li {
					margin-bottom: -2px;
				}

				a {
					display: inline-block;
					padding: 0.25rem 1rem!important;
					text-decoration: none;
					border-bottom:transparent solid 2px;

					&[aria-selected=true] {
						border-bottom-color:red;
						font-weight: 600;
						background-color: var(--color-bg-3);
					}
				}
			}

			code {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		@media screen and (max-width:576px) {
			> main {
				padding-top:48px;
			}
		}
		
	}
</style>