---
// @ts-nocheck
import BaseLayout from "@/layouts/base.astro";
import {list, getItems} from "@/content/list.js";
import Prevnext from "@tune/components/ui/prevnext.vue";
import PageApi from "@/components/page-api.vue";

import { getEntry, render } from 'astro:content';

const baseSlug = 'other'

const post = await getEntry(baseSlug, Astro.params.slug);
const { Content } = await render(post);


const {listItem, prevListItem, nextListItem} = getItems(list, `${baseSlug}/${Astro.params.slug}`);
if(!listItem) {
  return;
}

export const getStaticPaths = function() {
  let items = [];
  let baseSlug = 'other';
  list.map((item) => {
    if(item.slug === baseSlug && item.children) {
      for(let i = 0 ; i < item.children.length; i++) {
        const child = item.children[i];
        items.push({
          params : {
            slug : `${child.slug}`
          }
        })
      }
    }
  });
  return items;
}

let content = null;

---

<BaseLayout>

  <PageApi client:load pathname={Astro.url.pathname}>
    <div class="c-page">
      <Content />
      <Prevnext prev={prevListItem} next={nextListItem} />
    </div>
  </PageApi>
</BaseLayout>