---
// @ts-nocheck
import BaseLayout from "@/layouts/base.astro";
import Constrain from "@tune/components/ui/constrain.vue"
import {list, getItems} from "@tune/content/list.js";
import headings from "@/lib/get-headings.js";
import slugify from "@/lib/slugify.js";
import Toc from "@tune/components/ui/toc.vue";
import Prevnext from "@tune/components/ui/prevnext.vue";
import PageApi from "@/components/page-api.vue";

const posts = await Astro.glob('../../../../packages/content/*/*.mdx');

const {listItem, prevListItem, nextListItem} = getItems(list, Astro.params.slug);

if(!listItem) {
  return;
}

export const getStaticPaths = function() {
  let items = [];
  list.map((item) => {
    if(!item.children) {
      items.push({
        params : {
          slug : `/`
        }
      })
    } else {
      for(let i = 0 ; i < item.children.length; i++) {
        const child = item.children[i];
        items.push({
          params : {
            slug : `${child.slug}`
          }
        })
      }
    }
  });
  return items;
}

let content = null;

for(let  i = 0; i < posts.length; i++) {
  let post = posts[i];
  let file = post.file;

  let path = `/${listItem.slug}`;

  if(file.includes(path)) {
    content = post;
    break;
  }
}

const Content = content.Content;

---

<BaseLayout>

  <PageApi client:load pathname={Astro.url.pathname}>
    <div class="c-page">
      <Content />
      <Prevnext prev={prevListItem} next={nextListItem} />
    </div>
  </PageApi>
</BaseLayout>